<html>
    <head>
        <title>{{title}}</title>
        <body>
        <h1>{{title}}</h1>

        <p>additon:{{sum}}</p>
        <p>division:{{div}}</p>
        <p>multiplication:{{mul}}</p>
        <p>subtraction:{{sub}}</p>

        </body>
    </head>
</html>