<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <title>Filter Employee Record</title>
    <div>
      <form action="/search/" id="EmployeeForm" method="post"></form>
     <label>By Name</label>
     <input type="text" name="name" placeholder="enter name">
    </div>
    <div>
    <label>By Email</label>
    <input type="text" name="email" placeholder="enter emailid">
   </div>
   <div>
      <label>By EmployeeType</label>
      <input type="text" name="EmployeeType" placeholder="enter EmployeeType">
     </div>
     <div>
       <input type="submit"name="submit" value="search">
     </div>
     <br></br>
    <table>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Emp type</th>
      <th>Hourly Rate</th>
      <th>Total Hours</th>    
    </tr>
    <%records.forEach(function(row){%>
    <tr>
      <td><%=row.Name %></td>
      <td><%=row.Email %></td>
      <td><%=row.etype %></td>
      <td><%=row.hourlyrate %></td>
      <td><%=row.totalhour %></td>
    </tr>
    <% }) %>
    </table>

<div>
    <form>
  <head>
    <title>Employee Detail Form</title>
    </head>
 
  <label>Employee Name</label>
<input type="text" name="uname"  placeholder="enter employee name">
</div>
<div>
<label>Email Id</label>
<input type="text" name="email" placeholder="email address">
</div>
<div>
<label>Employee Type</label>
<select name="emptype">
<option value="Hourly">Hourly</option>
<option value="Fixed">Fixed</option>
</select>
</div>
<div>
<label>hourly rate</label>
<input type="text" name="ttlhr"placeholder="enter hourly rate">
</div>
<div>
  <label>total hour</label>
<input type="text" name="ttlhour" placeholder="enter total hour">
</div>
<div>
  <input type="Submit" type="Button" value="submit">
</div>
</form>

  </body>
</html>
